{"openapi":"3.1.0","info":{"title":"TaskingAI API","version":"0.1.0"},"servers":[{"url":"https://api.tasking.ai/"}],"paths":{"/v1/collections":{"get":{"tags":["Retrieval"],"summary":"List collections","description":"This operation returns a list of your Text Base collections.","operationId":"list_collections","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CollectionListResponseSchema"}}}}}},"post":{"tags":["Retrieval"],"summary":"Create collection","description":"This operation creates a new collection in your Text Base.","operationId":"create_collection","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CollectionCreateRequestBodySchema"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CollectionCreateResponseSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/collections/{collection_id}":{"get":{"tags":["Retrieval"],"summary":"Get collection","description":"This operation returns a single collection in your Text Base by its unique ID.","operationId":"get_collection","parameters":[{"name":"collection_id","in":"path","required":true,"schema":{"type":"string","title":"Collection Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CollectionGetResponseSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Retrieval"],"summary":"Update collection","description":"This operation updates the metadata of a specific collection.","operationId":"update_collection","parameters":[{"name":"collection_id","in":"path","required":true,"schema":{"type":"string","title":"Collection Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CollectionUpdateRequestBodySchema"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CollectionUpdateResponseSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Retrieval"],"summary":"Delete collection","operationId":"delete_collection","parameters":[{"name":"collection_id","in":"path","required":true,"schema":{"type":"string","title":"Collection Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseSuccessEmptyOutSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/collections/{collection_id}/records":{"get":{"tags":["Retrieval"],"summary":"List records","description":"Retrieve a paginated list of records from a specific collection.","operationId":"list_records","parameters":[{"name":"collection_id","in":"path","required":true,"schema":{"type":"string","title":"Collection Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecordListResponseSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Retrieval"],"summary":"Create record","description":"Create a new record in a collection.","operationId":"create_record","parameters":[{"name":"collection_id","in":"path","required":true,"schema":{"type":"string","title":"Collection Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecordCreateRequestBodySchema"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecordCreateResponseSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/collections/{collection_id}/records/{record_id}":{"get":{"tags":["Retrieval"],"summary":"Get record","description":"Retrieve a specific record from a collection.","operationId":"get_record","parameters":[{"name":"collection_id","in":"path","required":true,"schema":{"type":"string","title":"Collection Id"}},{"name":"record_id","in":"path","required":true,"schema":{"type":"string","title":"Record Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecordGetResponseSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Retrieval"],"summary":"Update record","description":"Modify the metadata of a specific record within a collection.","operationId":"update_record","parameters":[{"name":"collection_id","in":"path","required":true,"schema":{"type":"string","title":"Collection Id"}},{"name":"record_id","in":"path","required":true,"schema":{"type":"string","title":"Record Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecordUpdateRequestBodySchema"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecordUpdateResponseSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Retrieval"],"summary":"Delete record","description":"Delete a specific record from a collection.","operationId":"delete_record","parameters":[{"name":"collection_id","in":"path","required":true,"schema":{"type":"string","title":"Collection Id"}},{"name":"record_id","in":"path","required":true,"schema":{"type":"string","title":"Record Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseSuccessEmptyOutSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/collections/{collection_id}/chunks/query":{"post":{"tags":["Retrieval"],"summary":"Query chunks","description":"Execute a search query across specified collections within your TaskingAI environment to retrieve relevant chunks of information.","operationId":"query_chunks","parameters":[{"name":"collection_id","in":"path","required":true,"schema":{"type":"string","title":"Collection Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChunkQueryRequestBodySchema"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChunkQueryResponseSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/assistants":{"get":{"tags":["Assistant"],"summary":"List assistants","description":"Retrieve a list of all assistants available in your project.","operationId":"list_assistants","parameters":[{"name":"limit","in":"query","required":false,"schema":{"type":"integer","default":20,"title":"Limit"}},{"name":"order","in":"query","required":false,"schema":{"type":"string","default":"desc","title":"Order"}},{"name":"after","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"After"}},{"name":"before","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Before"}},{"name":"offset","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Offset"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssistantListResponseSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Assistant"],"summary":"Create assistant","description":"Create an assistant with a model and instructions.","operationId":"create_assistant","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssistantCreateRequestBodySchema"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssistantCreateResponseSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/assistants/{assistant_id}":{"get":{"tags":["Assistant"],"summary":"Get assistant","description":"Retrieve a single assistant by its unique ID.","operationId":"get_assistant","parameters":[{"name":"assistant_id","in":"path","required":true,"schema":{"type":"string","title":"Assistant Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssistantGetResponseSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Assistant"],"summary":"Update assistant","description":"Update the properties of an existing assistant.","operationId":"update_assistant","parameters":[{"name":"assistant_id","in":"path","required":true,"schema":{"type":"string","title":"Assistant Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssistantUpdateRequestBodySchema"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssistantUpdateResponseSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Assistant"],"summary":"Delete assistant","description":"Remove an existing assistant from your project.","operationId":"delete_assistant","parameters":[{"name":"assistant_id","in":"path","required":true,"schema":{"type":"string","title":"Assistant Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseSuccessEmptyOutSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/assistants/{assistant_id}/chats":{"get":{"tags":["Assistant"],"summary":"List chats","description":"Retrieve a list of all chats available in your project.","operationId":"list_chats","parameters":[{"name":"assistant_id","in":"path","required":true,"schema":{"type":"string","title":"Assistant Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatListResponseSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Assistant"],"summary":"Create chat","description":"Create a new chat within your project.","operationId":"create_chat","parameters":[{"name":"assistant_id","in":"path","required":true,"schema":{"type":"string","title":"Assistant Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatCreateRequestBodySchema"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatCreateResponseSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/assistants/{assistant_id}/chats/{chat_id}":{"get":{"tags":["Assistant"],"summary":"Get chat","description":"Retrieve the details of a specific chat by its unique ID.","operationId":"get_chat","parameters":[{"name":"assistant_id","in":"path","required":true,"schema":{"type":"string","title":"Assistant Id"}},{"name":"chat_id","in":"path","required":true,"schema":{"type":"string","title":"Chat Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatGetResponseSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Assistant"],"summary":"Update chat","description":"Update the properties of a specific chat.","operationId":"update_chat","parameters":[{"name":"assistant_id","in":"path","required":true,"schema":{"type":"string","title":"Assistant Id"}},{"name":"chat_id","in":"path","required":true,"schema":{"type":"string","title":"Chat Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatUpdateRequestBodySchema"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatUpdateResponseSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Assistant"],"summary":"Delete chat","description":"Remove an existing chat from your project.","operationId":"delete_chat","parameters":[{"name":"assistant_id","in":"path","required":true,"schema":{"type":"string","title":"Assistant Id"}},{"name":"chat_id","in":"path","required":true,"schema":{"type":"string","title":"Chat Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BaseSuccessEmptyOutSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/assistants/{assistant_id}/chats/{chat_id}/messages":{"get":{"tags":["Assistant"],"summary":"List messages","description":"Retrieve a paginated list of messages from a specific chat.","operationId":"list_messages","parameters":[{"name":"assistant_id","in":"path","required":true,"schema":{"type":"string","title":"Assistant Id"}},{"name":"chat_id","in":"path","required":true,"schema":{"type":"string","title":"Chat Id"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","default":20,"title":"Limit"}},{"name":"order","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"default":"desc","title":"Order"}},{"name":"after","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"After"}},{"name":"before","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Before"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageListResponseSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Assistant"],"summary":"Create message","description":"Send a new message within a specific chat.","operationId":"create_message","parameters":[{"name":"assistant_id","in":"path","required":true,"schema":{"type":"string","title":"Assistant Id"}},{"name":"chat_id","in":"path","required":true,"schema":{"type":"string","title":"Chat Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageCreateRequestBodySchema"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageCreateResponseSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/assistants/{assistant_id}/chats/{chat_id}/messages/{message_id}":{"get":{"tags":["Assistant"],"summary":"Get message","description":"Retrieve a specific message from a chat.","operationId":"get_message","parameters":[{"name":"assistant_id","in":"path","required":true,"schema":{"type":"string","title":"Assistant Id"}},{"name":"chat_id","in":"path","required":true,"schema":{"type":"string","title":"Chat Id"}},{"name":"message_id","in":"path","required":true,"schema":{"type":"string","title":"Message Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageGetResponseSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Assistant"],"summary":"Update message","description":"Modify the metadata of a specific message within a chat.","operationId":"update_message","parameters":[{"name":"assistant_id","in":"path","required":true,"schema":{"type":"string","title":"Assistant Id"}},{"name":"chat_id","in":"path","required":true,"schema":{"type":"string","title":"Chat Id"}},{"name":"message_id","in":"path","required":true,"schema":{"type":"string","title":"Message Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageUpdateRequestBodySchema"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageUpdateResponseSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/assistants/{assistant_id}/chats/{chat_id}/generate":{"post":{"tags":["Assistant"],"summary":"Generate","description":"Generate a new message with the role of 'assistant'.","operationId":"generate","parameters":[{"name":"assistant_id","in":"path","required":true,"schema":{"type":"string","title":"Assistant Id"}},{"name":"chat_id","in":"path","required":true,"schema":{"type":"string","title":"Chat Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageGenerateRequestBodySchema"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/inference/text_embedding":{"post":{"tags":["Inference"],"summary":"Text Embedding","description":"Model inference for text embedding.","operationId":"text_embedding","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TextEmbeddingRequestBodySchema"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TextEmbeddingResponseSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/inference/chat_completion":{"post":{"tags":["Inference"],"summary":"Chat Completion","description":"Model inference for chat completion.","operationId":"chat_completion","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatCompletionRequestBodySchema"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}}},"components":{"schemas":{"Assistant":{"properties":{"object":{"type":"string","pattern":"Assistant","title":"Object","description":"The object type, which is always `Assistant`.","default":"Assistant"},"assistant_id":{"type":"string","maxLength":30,"minLength":20,"title":"Assistant Id","description":"The assistant ID."},"model_id":{"type":"string","maxLength":8,"minLength":8,"title":"Model Id","description":"The ID of an available chat completion model in your project."},"name":{"anyOf":[{"type":"string","maxLength":256,"minLength":0},{"type":"null"}],"title":"Name","description":"The assistant name"},"description":{"anyOf":[{"type":"string","maxLength":512,"minLength":0},{"type":"null"}],"title":"Description","description":"The assistant description"},"system_prompt_template":{"anyOf":[{"items":{"type":"string"},"type":"array","maxItems":10,"minItems":0},{"type":"null"}],"title":"System Prompt Template","description":"A list of system prompt chunks where prompt variables are wrapped by curly brackets, e.g. `{{variable}}`."},"tools":{"items":{"$ref":"#/components/schemas/AssistantTool"},"type":"array","maxItems":32,"minItems":0,"title":"Tools","description":"A list of tools.","default":[]},"retrievals":{"items":{"$ref":"#/components/schemas/AssistantRetrieval"},"type":"array","maxItems":32,"minItems":0,"title":"Retrievals","description":"A list of retrieval sources.","default":[]},"metadata":{"additionalProperties":{"type":"string"},"type":"object","maxProperties":16,"minProperties":0,"title":"Metadata","description":"The assistant metadata. It can store up to 16 key-value pairs where each key's length is less than 64 and value's length is less than 512.","default":{}},"created_timestamp":{"type":"integer","minimum":0.0,"title":"Created Timestamp","description":"The timestamp when the assistant was created."}},"type":"object","required":["object","assistant_id","model_id","name","description","system_prompt_template","tools","retrievals","metadata","created_timestamp"],"title":"Assistant"},"AssistantCreateRequestBodySchema":{"properties":{"model_id":{"type":"string","maxLength":8,"minLength":8,"title":"Model Id","description":"The ID of an available chat completion model in your project."},"name":{"anyOf":[{"type":"string","maxLength":256,"minLength":0},{"type":"null"}],"title":"Name","description":"The assistant name"},"description":{"anyOf":[{"type":"string","maxLength":512,"minLength":0},{"type":"null"}],"title":"Description","description":"The assistant description"},"system_prompt_template":{"anyOf":[{"items":{"type":"string"},"type":"array","maxItems":10,"minItems":1},{"type":"null"}],"title":"System Prompt Template","description":"A list of system prompt chunks where prompt variables are wrapped by curly brackets, e.g. `{{variable}}`."},"tools":{"items":{"$ref":"#/components/schemas/AssistantTool"},"type":"array","maxItems":32,"minItems":0,"title":"Tools","description":"A list of tools.","default":[]},"retrievals":{"items":{"$ref":"#/components/schemas/AssistantRetrieval"},"type":"array","maxItems":32,"minItems":0,"title":"Retrievals","description":"A list of retrieval sources.","default":[]},"metadata":{"additionalProperties":{"type":"string"},"type":"object","maxProperties":16,"minProperties":0,"title":"Metadata","description":"The assistant metadata. It can store up to 16 key-value pairs where each key's length is less than 64 and value's length is less than 512.","default":{}}},"additionalProperties":false,"type":"object","required":["model_id"],"title":"AssistantCreateRequestBodySchema"},"AssistantCreateResponseSchema":{"properties":{"status":{"type":"string","pattern":"success","title":"Status","description":"The response status."},"data":{"allOf":[{"$ref":"#/components/schemas/Assistant"}],"description":"The created assistant."}},"type":"object","required":["status","data"],"title":"AssistantCreateResponseSchema"},"AssistantGetResponseSchema":{"properties":{"status":{"type":"string","pattern":"success","title":"Status","description":"The response status."},"data":{"allOf":[{"$ref":"#/components/schemas/Assistant"}],"description":"The response assistant data."}},"type":"object","required":["status","data"],"title":"AssistantGetResponseSchema"},"AssistantListResponseSchema":{"properties":{"status":{"type":"string","pattern":"success","title":"Status","description":"The response status."},"data":{"items":{"$ref":"#/components/schemas/Assistant"},"type":"array","title":"Data","description":"List of assistants."},"has_more":{"type":"boolean","title":"Has More","description":"Whether there are more assistants to return."},"fetched_count":{"type":"integer","minimum":0.0,"title":"Fetched Count","description":"The number of assistants returned in the response."},"total_count":{"type":"integer","minimum":0.0,"title":"Total Count","description":"The total number of assistants in the project."}},"type":"object","required":["status","data","has_more","fetched_count","total_count"],"title":"AssistantListResponseSchema"},"AssistantRetrieval":{"properties":{"type":{"type":"string","title":"Type","description":"The retrieval source type. Currently only `collection` is supported."},"id":{"type":"string","title":"Id","description":"The retrieval source ID."}},"type":"object","required":["type","id"],"title":"AssistantRetrieval"},"AssistantTool":{"properties":{"type":{"type":"string","title":"Type","description":"The tool type, which can be `function` or `action`."},"id":{"type":"string","title":"Id","description":"The tool ID."}},"type":"object","required":["type","id"],"title":"AssistantTool"},"AssistantUpdateRequestBodySchema":{"properties":{"model_id":{"anyOf":[{"type":"string","maxLength":8,"minLength":8},{"type":"null"}],"title":"Model Id","description":"The ID of an available chat completion model in your project."},"name":{"anyOf":[{"type":"string","maxLength":256,"minLength":0},{"type":"null"}],"title":"Name","description":"The assistant name"},"description":{"anyOf":[{"type":"string","maxLength":512,"minLength":0},{"type":"null"}],"title":"Description","description":"The assistant description"},"system_prompt_template":{"anyOf":[{"items":{"type":"string"},"type":"array","maxItems":10,"minItems":1},{"type":"null"}],"title":"System Prompt Template","description":"A list of system prompt chunks where prompt variables are wrapped by curly brackets, e.g. `{{variable}}`."},"tools":{"anyOf":[{"items":{"$ref":"#/components/schemas/AssistantTool"},"type":"array","maxItems":32,"minItems":0},{"type":"null"}],"title":"Tools","description":"A list of tools."},"retrievals":{"anyOf":[{"items":{"$ref":"#/components/schemas/AssistantRetrieval"},"type":"array","maxItems":32,"minItems":0},{"type":"null"}],"title":"Retrievals","description":"A list of retrieval sources."},"metadata":{"anyOf":[{"additionalProperties":{"type":"string"},"type":"object","maxProperties":16,"minProperties":0},{"type":"null"}],"title":"Metadata","description":"The assistant metadata. It can store up to 16 key-value pairs where each key's length is less than 64 and value's length is less than 512."}},"additionalProperties":false,"type":"object","title":"AssistantUpdateRequestBodySchema"},"AssistantUpdateResponseSchema":{"properties":{"status":{"type":"string","pattern":"success","title":"Status","description":"The response status."},"data":{"allOf":[{"$ref":"#/components/schemas/Assistant"}],"description":"The updated assistant."}},"type":"object","required":["status","data"],"title":"AssistantUpdateResponseSchema"},"BaseSuccessEmptyOutSchema":{"properties":{"status":{"type":"string","title":"Status","default":"success"}},"type":"object","required":["status"],"title":"BaseSuccessEmptyOutSchema"},"Chat":{"properties":{"object":{"type":"string","pattern":"Chat","title":"Object","description":"The object type, which is always `Chat`.","default":"Chat"},"chat_id":{"type":"string","maxLength":30,"minLength":20,"title":"Chat Id","description":"The chat ID."},"assistant_id":{"type":"string","maxLength":30,"minLength":20,"title":"Assistant Id","description":"The assistant ID."},"metadata":{"additionalProperties":{"type":"string"},"type":"object","maxProperties":16,"minProperties":0,"title":"Metadata","description":"The chat metadata. It can store up to 16 key-value pairs where each key's length is less than 64 and value's length is less than 512.","default":{}},"created_timestamp":{"type":"integer","minimum":0.0,"title":"Created Timestamp","description":"The timestamp when the chat was created."}},"type":"object","required":["object","chat_id","assistant_id","metadata","created_timestamp"],"title":"Chat"},"ChatCompletionAssistantMessage":{"properties":{"content":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Content","description":"The content of the message."},"role":{"allOf":[{"$ref":"#/components/schemas/ChatCompletionRole"}],"description":"The role of the message, which is always 'assistant' for an assistant message","default":"assistant","Literal":true},"function_call":{"anyOf":[{"$ref":"#/components/schemas/ChatCompletionFunctionCall"},{"type":"null"}],"description":"The funcion call requested by the assistant."}},"type":"object","title":"ChatCompletionAssistantMessage"},"ChatCompletionFunction":{"properties":{"name":{"type":"string","title":"Name","description":"The name of the function."},"description":{"type":"string","title":"Description","description":"The description of the function."},"parameters":{"type":"object","title":"Parameters","description":"The function's parameters are represented as an object in JSON Schema format."}},"type":"object","required":["name","description","parameters"],"title":"ChatCompletionFunction"},"ChatCompletionFunctionCall":{"properties":{"arguments":{"type":"object","title":"Arguments"},"name":{"type":"string","title":"Name"}},"type":"object","required":["arguments","name"],"title":"ChatCompletionFunctionCall"},"ChatCompletionFunctionMessage":{"properties":{"content":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Content","description":"The content of the message."},"role":{"allOf":[{"$ref":"#/components/schemas/ChatCompletionRole"}],"description":"The role of the message, which is always 'function' for a function message","default":"function","Literal":true},"name":{"type":"string","title":"Name","description":"The name of the function."}},"type":"object","required":["name"],"title":"ChatCompletionFunctionMessage"},"ChatCompletionRequestBodySchema":{"properties":{"model_id":{"type":"string","maxLength":8,"minLength":8,"title":"Model Id","description":"The chat completion model id."},"configs":{"anyOf":[{"type":"object"},{"type":"null"}],"title":"Configs","description":"The model configuration."},"stream":{"type":"boolean","title":"Stream","description":"Indicates whether the response should be streamed. If set to True, the response will be streamed using Server-Sent Events (SSE).","default":false},"messages":{"items":{"anyOf":[{"$ref":"#/components/schemas/ChatCompletionSystemMessage"},{"$ref":"#/components/schemas/ChatCompletionUserMessage"},{"$ref":"#/components/schemas/ChatCompletionAssistantMessage"},{"$ref":"#/components/schemas/ChatCompletionFunctionMessage"}]},"type":"array","title":"Messages","description":"The messages to be sent to the model."},"function_call":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Function Call","description":"Controls whether a specific function is invoked by the model. If set to 'none', the model will generate a message without calling a function. If set to 'auto', the model can choose between generating a message or calling a function. Defining a specific function using {'name': 'my_function'} instructs the model to call that particular function. By default, 'none' is selected when there are no functions available, and 'auto' is selected when one or more functions are present."},"functions":{"anyOf":[{"items":{"$ref":"#/components/schemas/ChatCompletionFunction"},"type":"array"},{"type":"null"}],"title":"Functions"}},"additionalProperties":false,"type":"object","required":["model_id","messages"],"title":"ChatCompletionRequestBodySchema"},"ChatCompletionRole":{"type":"string","enum":["system","assistant","user","function"],"title":"ChatCompletionRole"},"ChatCompletionSystemMessage":{"properties":{"content":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Content","description":"The content of the message."},"role":{"allOf":[{"$ref":"#/components/schemas/ChatCompletionRole"}],"description":"The role of the message, which is always 'system' for a system message","default":"system","Literal":true}},"type":"object","title":"ChatCompletionSystemMessage"},"ChatCompletionUserMessage":{"properties":{"content":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Content","description":"The content of the message."},"role":{"allOf":[{"$ref":"#/components/schemas/ChatCompletionRole"}],"description":"The role of the message, which is always 'user' for a user message","default":"user","Literal":true}},"type":"object","title":"ChatCompletionUserMessage"},"ChatCreateRequestBodySchema":{"properties":{"metadata":{"anyOf":[{"additionalProperties":{"type":"string"},"type":"object","maxProperties":16,"minProperties":0},{"type":"null"}],"title":"Metadata","description":"The chat metadata. It can store up to 16 key-value pairs where each key's length is less than 64 and value's length is less than 512.","default":{}}},"additionalProperties":false,"type":"object","title":"ChatCreateRequestBodySchema"},"ChatCreateResponseSchema":{"properties":{"status":{"type":"string","pattern":"success","title":"Status","description":"The response status."},"data":{"allOf":[{"$ref":"#/components/schemas/Chat"}],"description":"The response chat data."}},"type":"object","required":["status","data"],"title":"ChatCreateResponseSchema"},"ChatGetResponseSchema":{"properties":{"status":{"type":"string","pattern":"success","title":"Status","description":"The response status."},"data":{"allOf":[{"$ref":"#/components/schemas/Chat"}],"description":"The response chat data."}},"type":"object","required":["status","data"],"title":"ChatGetResponseSchema"},"ChatListResponseSchema":{"properties":{"status":{"type":"string","pattern":"success","title":"Status","description":"The response status."},"data":{"items":{"$ref":"#/components/schemas/Chat"},"type":"array","title":"Data","description":"List of chats."},"has_more":{"type":"boolean","title":"Has More","description":"Whether there are more chats to fetch."},"fetched_count":{"type":"integer","minimum":0.0,"title":"Fetched Count","description":"The number of chats returned in the response."}},"type":"object","required":["status","data","has_more","fetched_count"],"title":"ChatListResponseSchema"},"ChatUpdateRequestBodySchema":{"properties":{"metadata":{"anyOf":[{"additionalProperties":{"type":"string"},"type":"object","maxProperties":16,"minProperties":0},{"type":"null"}],"title":"Metadata","description":"The chat metadata. It can store up to 16 key-value pairs where each key's length is less than 64 and value's length is less than 512."}},"additionalProperties":false,"type":"object","title":"ChatUpdateRequestBodySchema"},"ChatUpdateResponseSchema":{"properties":{"status":{"type":"string","pattern":"success","title":"Status"},"data":{"$ref":"#/components/schemas/Chat"}},"type":"object","required":["status","data"],"title":"ChatUpdateResponseSchema"},"Chunk":{"properties":{"object":{"type":"string","pattern":"Chunk","title":"Object","description":"The object type, which is always `Chunk`.","default":"Chunk"},"chunk_id":{"type":"string","maxLength":30,"minLength":20,"title":"Chunk Id","description":"The chunk ID."},"record_id":{"type":"string","maxLength":30,"minLength":20,"title":"Record Id","description":"The record ID of the chunk"},"collection_id":{"type":"string","maxLength":30,"minLength":20,"title":"Collection Id","description":"The collection ID of the chunk"},"text":{"type":"string","minLength":1,"title":"Text","description":"The chunk text"},"score":{"type":"number","maximum":1.0,"minimum":0.0,"title":"Score","description":"The chunk score indicating the relevance to the params text."}},"type":"object","required":["object","chunk_id","record_id","collection_id","text","score"],"title":"Chunk"},"ChunkQueryRequestBodySchema":{"properties":{"top_k":{"type":"integer","maximum":20.0,"minimum":1.0,"title":"Top K","description":"The number of most relevant chunks to return."},"query_text":{"type":"string","maxLength":10000,"minLength":1,"title":"Query Text","description":"The query text. Retrieval service will find and return the most relevant chunks to this text."}},"additionalProperties":false,"type":"object","required":["top_k","query_text"],"title":"ChunkQueryRequestBodySchema"},"ChunkQueryResponseSchema":{"properties":{"status":{"type":"string","title":"Status","description":"The response status."},"data":{"items":{"$ref":"#/components/schemas/Chunk"},"type":"array","title":"Data","description":"The response chunk list data."},"fetched_count":{"type":"integer","minimum":0.0,"title":"Fetched Count","description":"The number of chunks returned in the response."}},"type":"object","required":["status","data","fetched_count"],"title":"ChunkQueryResponseSchema"},"Collection":{"properties":{"object":{"type":"string","pattern":"Collection","title":"Object","description":"The object type, which is always `Collection`.","default":"Collection"},"collection_id":{"type":"string","maxLength":30,"minLength":20,"title":"Collection Id","description":"The collection ID."},"name":{"anyOf":[{"type":"string","maxLength":256,"minLength":0},{"type":"null"}],"title":"Name","description":"The collection name"},"description":{"anyOf":[{"type":"string","maxLength":512,"minLength":0},{"type":"null"}],"title":"Description","description":"The collection description"},"capacity":{"type":"integer","maximum":1000.0,"minimum":100.0,"title":"Capacity","description":"The collection capacity. Currently only 1000 is supported and we'll provide more options in the future.","default":1000},"num_records":{"type":"integer","minimum":0.0,"title":"Num Records","description":"The number of records in the collection."},"num_chunks":{"type":"integer","minimum":0.0,"title":"Num Chunks","description":"The number of chunks in the collection."},"configs":{"allOf":[{"$ref":"#/components/schemas/CollectionConfig-Output"}],"description":"The collection configs."},"embedding_model_id":{"type":"string","maxLength":8,"minLength":8,"title":"Embedding Model Id","description":"The ID of an available text embedding model in your project."},"metadata":{"additionalProperties":{"type":"string"},"type":"object","maxProperties":16,"minProperties":0,"title":"Metadata","description":"The collection metadata. It can store up to 16 key-value pairs where each key's length is less than 64 and value's length is less than 512.","default":{}},"created_timestamp":{"type":"integer","minimum":0.0,"title":"Created Timestamp","description":"The timestamp when the collection was created."},"status":{"type":"string","title":"Status","description":"The collection status. It can be `creating`, `ready`, `deleting` or `error`."}},"type":"object","required":["object","collection_id","name","description","capacity","num_records","num_chunks","configs","embedding_model_id","metadata","created_timestamp","status"],"title":"Collection"},"CollectionConfig-Input":{"properties":{"chunk_size":{"type":"integer","maximum":500.0,"minimum":100.0,"title":"Chunk Size","description":"Chunk size determines the max size of the text chunks in the collection. It is counted by number of chunk text tokens.","default":300},"chunk_overlap":{"type":"integer","maximum":200.0,"minimum":0.0,"title":"Chunk Overlap","description":"Chunk overlap specifies how much overlap there should be between chunks, counted by number of chunk text tokens. It cannot be larger than `chunk_size`.","default":0},"metric":{"type":"string","title":"Metric","description":"The text chunks are embedded into a vector space_schema and the similarity between two chunks is measured by the cosine distance between their vectors. Currently only `cosine` is supported and we'll provide more options in the future.","default":"cosine"}},"additionalProperties":false,"type":"object","title":"CollectionConfig"},"CollectionConfig-Output":{"properties":{"chunk_size":{"type":"integer","maximum":500.0,"minimum":100.0,"title":"Chunk Size","description":"Chunk size determines the max size of the text chunks in the collection. It is counted by number of chunk text tokens.","default":300},"chunk_overlap":{"type":"integer","maximum":200.0,"minimum":0.0,"title":"Chunk Overlap","description":"Chunk overlap specifies how much overlap there should be between chunks, counted by number of chunk text tokens. It cannot be larger than `chunk_size`.","default":0},"metric":{"type":"string","title":"Metric","description":"The text chunks are embedded into a vector space_schema and the similarity between two chunks is measured by the cosine distance between their vectors. Currently only `cosine` is supported and we'll provide more options in the future.","default":"cosine"}},"additionalProperties":false,"type":"object","required":["chunk_size","chunk_overlap","metric"],"title":"CollectionConfig"},"CollectionCreateRequestBodySchema":{"properties":{"capacity":{"type":"integer","title":"Capacity","description":"The collection capacity. Currently only 1000 is supported and we'll provide more options in the future.","default":1000},"embedding_model_id":{"type":"string","maxLength":8,"minLength":8,"title":"Embedding Model Id","description":"The ID of an available text embedding model in your project."},"name":{"anyOf":[{"type":"string","maxLength":256,"minLength":0},{"type":"null"}],"title":"Name","description":"The collection name"},"description":{"anyOf":[{"type":"string","maxLength":512,"minLength":0},{"type":"null"}],"title":"Description","description":"The collection description"},"configs":{"anyOf":[{"$ref":"#/components/schemas/CollectionConfig-Input"},{"type":"null"}],"description":"The collection configs indicating how the collection stores and indexes the text chunks. It cannot change after creation."},"metadata":{"anyOf":[{"additionalProperties":{"type":"string"},"type":"object","maxProperties":16,"minProperties":0},{"type":"null"}],"title":"Metadata","description":"The collection metadata. It can store up to 16 key-value pairs where each key's length is less than 64 and value's length is less than 512.","default":{}}},"type":"object","required":["embedding_model_id"],"title":"CollectionCreateRequestBodySchema"},"CollectionCreateResponseSchema":{"properties":{"status":{"type":"string","pattern":"success","title":"Status","description":"The response status."},"data":{"allOf":[{"$ref":"#/components/schemas/Collection"}],"description":"The created collection."}},"type":"object","required":["status","data"],"title":"CollectionCreateResponseSchema"},"CollectionGetResponseSchema":{"properties":{"status":{"type":"string","pattern":"success","title":"Status","description":"The response status."},"data":{"allOf":[{"$ref":"#/components/schemas/Collection"}],"description":"The response collection data."}},"type":"object","required":["status","data"],"title":"CollectionGetResponseSchema"},"CollectionListResponseSchema":{"properties":{"status":{"type":"string","pattern":"success","title":"Status","description":"The response status."},"data":{"items":{"$ref":"#/components/schemas/Collection"},"type":"array","title":"Data","description":"List of collections."},"fetched_count":{"type":"integer","minimum":0.0,"title":"Fetched Count","description":"The number of collections returned in the response."},"total_count":{"type":"integer","minimum":0.0,"title":"Total Count","description":"The total number of collections in the project."},"has_more":{"type":"boolean","title":"Has More","description":"Whether there are more collections to fetch."}},"type":"object","required":["status","data","fetched_count","total_count","has_more"],"title":"CollectionListResponseSchema"},"CollectionUpdateRequestBodySchema":{"properties":{"name":{"anyOf":[{"type":"string","maxLength":256,"minLength":0},{"type":"null"}],"title":"Name","description":"The collection name"},"description":{"anyOf":[{"type":"string","maxLength":512,"minLength":0},{"type":"null"}],"title":"Description","description":"The collection description"},"metadata":{"anyOf":[{"additionalProperties":{"type":"string"},"type":"object","maxProperties":16,"minProperties":0},{"type":"null"}],"title":"Metadata","description":"The collection metadata. It can store up to 16 key-value pairs where each key's length is less than 64 and value's length is less than 512."}},"additionalProperties":false,"type":"object","title":"CollectionUpdateRequestBodySchema"},"CollectionUpdateResponseSchema":{"properties":{"status":{"type":"string","pattern":"success","title":"Status","description":"The response status."},"data":{"allOf":[{"$ref":"#/components/schemas/Collection"}],"description":"The updated collection."}},"type":"object","required":["status","data"],"title":"CollectionUpdateResponseSchema"},"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"Message":{"properties":{"object":{"type":"string","pattern":"Message","title":"Object","description":"The object type, which is always `Message`.","default":"Message"},"message_id":{"type":"string","maxLength":30,"minLength":20,"title":"Message Id","description":"The message ID."},"chat_id":{"type":"string","maxLength":30,"minLength":20,"title":"Chat Id","description":"The chat ID."},"assistant_id":{"anyOf":[{"type":"string","maxLength":30,"minLength":20},{"type":"null"}],"title":"Assistant Id","description":"The assistant ID if the message is generated by an assistant."},"role":{"type":"string","maxLength":20,"minLength":1,"title":"Role","description":"The role of the message. It can be `user` or `assistant`."},"content":{"allOf":[{"$ref":"#/components/schemas/MessageContent"}],"description":"The message content."},"created_timestamp":{"type":"integer","minimum":0.0,"title":"Created Timestamp","description":"The timestamp when the message was created."}},"type":"object","required":["object","message_id","chat_id","assistant_id","role","content","created_timestamp"],"title":"Message"},"MessageContent":{"properties":{"text":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Text","description":"The text content of the message."}},"type":"object","required":["text"],"title":"MessageContent"},"MessageCreateRequestBodySchema":{"properties":{"role":{"allOf":[{"$ref":"#/components/schemas/MessageRole"}],"description":"The role of the message. Currently only `user` is supported."},"content":{"allOf":[{"$ref":"#/components/schemas/MessageContent"}],"description":"The message content."},"metadata":{"additionalProperties":{"type":"string"},"type":"object","maxProperties":16,"minProperties":0,"title":"Metadata","description":"The message metadata. It can store up to 16 key-value pairs where each key's length is less than 64 and value's length is less than 512.","default":{}}},"additionalProperties":false,"type":"object","required":["role","content"],"title":"MessageCreateRequestBodySchema"},"MessageCreateResponseSchema":{"properties":{"status":{"type":"string","pattern":"success","title":"Status","description":"The response status."},"data":{"allOf":[{"$ref":"#/components/schemas/Message"}],"description":"The response message data."}},"type":"object","required":["status","data"],"title":"MessageCreateResponseSchema"},"MessageGenerateRequestBodySchema":{"properties":{"options":{"anyOf":[{"$ref":"#/components/schemas/MessageGenerationResponseOption"},{"type":"null"}],"description":"The options for generating assistant response messages. If any options are turned on, the response data will be returned in SSE format."},"system_prompt_variables":{"type":"object","maxProperties":16,"minProperties":0,"title":"System Prompt Variables","description":"The variables that fit the system prompt template.","default":{}}},"type":"object","title":"MessageGenerateRequestBodySchema"},"MessageGenerationResponseOption":{"properties":{"stream":{"type":"boolean","title":"Stream","description":"Whether to return the assistant message in stream format.","default":false},"tool_log":{"type":"boolean","title":"Tool Log","description":"Whether to include the tool call information and result in the response.","default":false},"retrieval_log":{"type":"boolean","title":"Retrieval Log","description":"Whether to include the retrieval call in the response.","default":false}},"additionalProperties":false,"type":"object","title":"MessageGenerationResponseOption"},"MessageGetResponseSchema":{"properties":{"status":{"type":"string","pattern":"success","title":"Status","description":"The response status."},"data":{"allOf":[{"$ref":"#/components/schemas/Message"}],"description":"The response message data."}},"type":"object","required":["status","data"],"title":"MessageGetResponseSchema"},"MessageListResponseSchema":{"properties":{"status":{"type":"string","pattern":"success","title":"Status","description":"The response status."},"data":{"items":{"$ref":"#/components/schemas/Message"},"type":"array","title":"Data","description":"List of messages."},"has_more":{"type":"boolean","title":"Has More","description":"Whether there are more messages to fetch."},"fetched_count":{"type":"integer","minimum":0.0,"title":"Fetched Count","description":"The number of messages returned in the response."}},"type":"object","required":["status","data","has_more","fetched_count"],"title":"MessageListResponseSchema"},"MessageRole":{"type":"string","enum":["user","assistant"],"title":"MessageRole"},"MessageUpdateRequestBodySchema":{"properties":{"metadata":{"additionalProperties":{"type":"string"},"type":"object","maxProperties":16,"minProperties":0,"title":"Metadata","description":"The message metadata. It can store up to 16 key-value pairs where each key's length is less than 64 and value's length is less than 512."}},"additionalProperties":false,"type":"object","title":"MessageUpdateRequestBodySchema"},"MessageUpdateResponseSchema":{"properties":{"status":{"type":"string","pattern":"success","title":"Status","description":"The response status."},"data":{"allOf":[{"$ref":"#/components/schemas/Message"}],"description":"The response message data."}},"type":"object","required":["status","data"],"title":"MessageUpdateResponseSchema"},"Record":{"properties":{"object":{"type":"string","pattern":"Record","title":"Object","description":"The object type, which is always `Record`.","default":"Record"},"record_id":{"type":"string","maxLength":30,"minLength":20,"title":"Record Id","description":"The record ID."},"collection_id":{"type":"string","maxLength":30,"minLength":20,"title":"Collection Id","description":"The collection ID."},"type":{"type":"string","title":"Type","description":"The record type, which is always `text` or `file`."},"num_chunks":{"type":"integer","minimum":0.0,"title":"Num Chunks","description":"The number of chunks in the record."},"content":{"type":"object","title":"Content","description":"The record content."},"metadata":{"additionalProperties":{"type":"string"},"type":"object","maxProperties":512,"minProperties":0,"title":"Metadata","description":"The record metadata. It can store up to 16 key-value pairs where each key's length is less than 64 and value's length is less than 512.","default":{}},"created_timestamp":{"type":"integer","minimum":0.0,"title":"Created Timestamp","description":"The timestamp when the record was created."},"status":{"type":"string","title":"Status","description":"The record status, which can be `creating`, `ready`, `deleting`, `error` or `partial`."}},"type":"object","required":["object","record_id","collection_id","type","num_chunks","content","metadata","created_timestamp","status"],"title":"Record"},"RecordCreateRequestBodySchema":{"properties":{"type":{"type":"string","title":"Type"},"text":{"anyOf":[{"type":"string","maxLength":32768,"minLength":1},{"type":"null"}],"title":"Text"},"file_id":{"anyOf":[{"type":"string","maxLength":30,"minLength":20},{"type":"null"}],"title":"File Id"},"metadata":{"additionalProperties":{"type":"string"},"type":"object","maxProperties":512,"minProperties":0,"title":"Metadata","default":{}}},"additionalProperties":false,"type":"object","required":["type"],"title":"RecordCreateRequestBodySchema"},"RecordCreateResponseSchema":{"properties":{"status":{"type":"string","pattern":"success","title":"Status"},"data":{"$ref":"#/components/schemas/Record"}},"type":"object","required":["status","data"],"title":"RecordCreateResponseSchema"},"RecordGetResponseSchema":{"properties":{"status":{"type":"string","pattern":"success","title":"Status","description":"The response status."},"data":{"allOf":[{"$ref":"#/components/schemas/Record"}],"description":"The response record data."}},"type":"object","required":["status","data"],"title":"RecordGetResponseSchema"},"RecordListResponseSchema":{"properties":{"status":{"type":"string","pattern":"success","title":"Status","description":"The response status."},"data":{"items":{"$ref":"#/components/schemas/Record"},"type":"array","title":"Data","description":"List of records."},"fetched_count":{"type":"integer","minimum":0.0,"title":"Fetched Count","description":"The number of records returned in the response."},"total_count":{"type":"integer","minimum":0.0,"title":"Total Count","description":"The total number of records in the collection."},"has_more":{"type":"boolean","title":"Has More","description":"Whether there are more records to return."}},"type":"object","required":["status","data","fetched_count","total_count","has_more"],"title":"RecordListResponseSchema"},"RecordUpdateRequestBodySchema":{"properties":{"metadata":{"anyOf":[{"additionalProperties":{"type":"string"},"type":"object","maxProperties":512,"minProperties":0},{"type":"null"}],"title":"Metadata"}},"additionalProperties":false,"type":"object","title":"RecordUpdateRequestBodySchema"},"RecordUpdateResponseSchema":{"properties":{"status":{"type":"string","pattern":"success","title":"Status"},"data":{"$ref":"#/components/schemas/Record"}},"type":"object","required":["status","data"],"title":"RecordUpdateResponseSchema"},"TextEmbeddingOutput":{"properties":{"index":{"type":"integer","title":"Index","description":"The index of the embedding output."},"embedding":{"items":{"type":"number"},"type":"array","title":"Embedding","description":"The embedding vector."}},"type":"object","required":["index","embedding"],"title":"TextEmbeddingOutput"},"TextEmbeddingRequestBodySchema":{"properties":{"model_id":{"type":"string","maxLength":8,"minLength":8,"title":"Model Id","description":"The text embedding model id."},"input":{"anyOf":[{"type":"string"},{"items":{"type":"string"},"type":"array"}],"title":"Input","description":"The input text or a list of input texts."}},"additionalProperties":false,"type":"object","required":["model_id","input"],"title":"TextEmbeddingRequestBodySchema"},"TextEmbeddingResponseSchema":{"properties":{"status":{"type":"string","title":"Status","description":"The status of the response, which is always 'success'.","default":"success","Literal":true},"data":{"items":{"$ref":"#/components/schemas/TextEmbeddingOutput"},"type":"array","title":"Data","description":"The text embedding response data."}},"type":"object","required":["status","data"],"title":"TextEmbeddingResponseSchema"},"ValidationError":{"properties":{"loc":{"items":{"anyOf":[{"type":"string"},{"type":"integer"}]},"type":"array","title":"Location"},"msg":{"type":"string","title":"Message"},"type":{"type":"string","title":"Error Type"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"}}}}